[Unit]
Description = picam360-capture daemon

[Service]
ExecStart = /bin/bash /home/pi/picam360/picam360-capture/lunch.sh >/tmp/picam360_capture_stdout 2>/tmp/picam360_capture_sterr
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target