Host SSH_PF
  HostName pf.picam360.com
  IdentityFile ~/.ssh/%PORT%_device_rsa
  User ssh-gateway
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null 
  ServerAliveInterval 60
  ServerAliveCountMax 3
  ExitOnForwardFailure yes
  RemoteForward %PORT% localhost:22

Host WWW_PF     
  HostName pf.picam360.com
  IdentityFile ~/.ssh/%PORT%_device_rsa
  User ssh-gateway
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  ServerAliveInterval 60
  ServerAliveCountMax 3
  ExitOnForwardFailure yes
  RemoteForward %PORT% localhost:9001

Host NODEDEBUG_PF     
  HostName pf.picam360.com
  IdentityFile ~/.ssh/%PORT%_device_rsa
  User ssh-gateway
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  ServerAliveInterval 60
  ServerAliveCountMax 3
  ExitOnForwardFailure yes
  RemoteForward %PORT% localhost:9229

Host PYTHONDEBUG_PF     
  HostName pf.picam360.com
  IdentityFile ~/.ssh/%PORT%_device_rsa
  User ssh-gateway
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  ServerAliveInterval 60
  ServerAliveCountMax 3
  ExitOnForwardFailure yes
  RemoteForward %PORT% localhost:5678
